<h1>Tables</h1>

<table class="table table-bordered">

    <thead>
        <th>Season</th>
        <th>Goals</th>
        <th>Assists</th>
    </thead>

    <tbody>

        <tr>
            <th>2009-2010</th>
            <th>25</th>
            <th>43</th>
        </tr>

        <tr>
            <th>2010-2011</th>
            <th>25</th>
            <th>43</th>
        </tr>

        <tr>
            <td colspan="3">2011-2012 - also played for canada at olympics</td>
        </tr>

        <tr>
            <th>2011-2012</th>
            <th>25</th>
            <th>43</th>
        </tr>

        <tr>
            <th>2013-2014</th>
            <th>25</th>
            <th>43</th>
        </tr>

    </tbody>

    <tfoot>
        <tr>
            <td>Totals</td>
            <td>86</td>
            <td>113</td>
        </tr>
    </tfoot>

</table>