<div>
    <first-Directive></first-Directive>

    <div attr-Directory><h1>Attr directive sample</h1></div>
    
    <br><br>

    <div menter-Directive="panel" mleave-Directive><h1> Mouse enter & leave event</h1></div>
    
    <div cont-Talk="deleteData()"><h1>Interactive controller</h1></div>
    
    <con-One stength speed flight><h1>Interactive contrller</h1></con-One>
    
    Directive with scope & expression <br>
    <iso-Directive done="deleteData(chore)"></iso-Directive>
    <br>

    Directive with scope @ expression. It will expect string <br>
    <input type="text" ng-model="fruitType"  class="form-control">{{fruitType}}
    <div fruits fruit='{{fruitType}}'> </div>
    <br>

    Directive with scope = expression. It will expect object <br>
    <input type="text" ng-model="value1"  class="form-control">{{value1}}
    <div equal-Expression value="value1"> </div>

    

</div> 