<div>
    <h1>Lodash Samples</h1>
    <button type="button" value="info" ng-click="lodashVM.forSample()" class="btn-link btn-lg">for loop sample</button><br>
    <button type="button" value="info" ng-click="lodashVM.jsonDeeplyNestedLoop()" class="btn-link btn-lg">Deeply nested JSON array</button><br>
    <button type="button" value="info" ng-click="lodashVM.jsonDeepUniqueValues()" class="btn-link btn-lg">Deep unique value array</button><br>
    <button type="button" value="info" ng-click="lodashVM.deepClone()" class="btn-link btn-lg">Deep clone</button><br>
    <button type="button" value="info" ng-click="lodashVM.getRamdomNumber()" class="btn-link btn-lg">Get Ramdom number</button><br>
    <button type="button" value="info" ng-click="lodashVM.lodashExten()" class="btn-link btn-lg">Json Extent</button><br>
    <button type="button" value="info" ng-click="lodashVM.fromObjFromJson()" class="btn-link btn-lg">Remove object from JSOn</button><br>
    <button type="button" value="info" ng-click="lodashVM.assignOneObjToAnotherObj()" class="btn-link btn-lg">Select properties from another object to form new object</button><br>
    <button type="button" value="info" ng-click="lodashVM.selectRandomObj()" class="btn-link btn-lg">Selecting a random item from a list</button><br>
    <button type="button" value="info" ng-click="lodashVM.errorHandlingObj()" class="btn-link btn-lg">Error handling for JSON.parse</button><br>
</div>